html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}



body {
    
    font-family: 'League Spartan', sans-serif;
}

.header-container {
    

    display: flex;
    width: 1920px;
    padding-top: 104px;
    padding-left: 133px;
    padding-right: 133px;
    padding-bottom: 168px;
    background-color: #F8F8F8;
}

.header-title {
    margin-bottom: 53px;
    font-size: 24px;
    line-break: 45px;
    font-weight: 300;
}

.header-subtitle {
    margin-bottom: 43px;
    font-size: 250px;
    line-height: 230px;
    
}

.header-description {
    margin-bottom: 61px;
    font-size: 32px;
    line-height: 50px;
}

.buy-wrapper {
    display: flex;
}

.buy-link {
    display: block;
    
    width: 278px;
    height: 82px;
    background-color: #161515;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
}

.price {
    width: 143px;
    height: 82px;
    color: #272727;
    background-color: #FFFFFF;
    font-size: 32px;
    line-height: 82px;
    text-align: center;
}

.header-img-wrapper {
    display: block;
    width: 408px;
}

.popular-title {
    font-size: 24px;
    line-height: 45px;
    text-align: center;
}